<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div>
        <footer class="footer footer-center p-10 bg-primary text-primary-content">
            <div>
              <img src="/public/logo-color.png" alt="logo">
              <p class="font-bold">
                Game Flex <br>Providing a way to chirp online since 2022
              </p> 
              <p>Copyright © 2022 - All right reserved</p>
            </div> 
           
            </div>
          </footer>
        
        <h2>Enter the games you've beaten and make sure to put in your difficulty so you can flex even harder</h2>
        <ul>
      
            <li  >
                
                
            </li>
       
        </ul>

        <h2 style="color: blue; font-size: 46px;"><%= user.userName %> has <%= left %> games to flex about beating.</h2>

        <form action="/todos/createTodo" method='POST'>
            <input style="border: solid 2px blue; padding: 2px;" type="text" placeholder="Enter Game Title" name='gameTitle'>
            <input style="border: solid 2px green; padding: 2px;" type="text" placeholder="Enter Game Difficulty" name='gameDifficulty'>
            <input style="border: solid 2px red; background-color: orange; padding: 2px;" type="submit">
        </form>

      
    </div>
  
    <div>
    
    </div>
    <div style="margin-top: 5px; margin-bottom: 5px">
    <a style="border: solid 1px black; margin: 5px;" href="/logout">Logout</a>
  </div>
    <div class="overflow-x-auto">
        <table class="table w-full">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Game Title</th>
              <th>Difficulty</th>
              <th>delete</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <% todos.forEach( el => { %>
            <tr>
        
              <th>*</th>
              <td class='gameTitle' data-id='<%=el._id%>'><span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.title %></span></td>
                
              <td><%= el.difficulty %></td>
              <td data-id='<%=el._id%>'><span class='del'> Delete </span></td>
             
            </tr>
            <% }) %>  
          </tbody>
        </table>
      </div>

    <script src="js/main.js"></script>
</body>
</html>